.containerDis {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
  text-align: center;
  color: #999999;
  height: 32px;

  padding: 3px 7px 3px 8px;

  border: 1px solid #999999;
  border-radius: 17px;
}

/* Create a custom radio button */
.circle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid #999999;
  padding: 0;
  margin: 0;
}
