.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin-top: 30px;
  border-radius: 50%;
  border: 6px solid #b663b2;
  border-color: #b663b2 transparent #b663b2 transparent;
  animation: loading 1.2s linear infinite;
  
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
