:root {
  --cornflower: linear-gradient(248.23deg, #633ff2 14.27%, #69078b 85.73%);
  --cornflower-solid: #633ff2;
  --cornflower-dark: #69078b;
  --red: #a14426;
  --green: #a1d282;
  --black: #1b1b36;
  --gray: #f3e8f6;
}

.toMain {
  text-decoration: none;
  color: white;
  transition: 200ms;
}

.toMain {
  color: var(--cornflower-solid);
}

.GameApp {
  background-color: white;
  width: 100%;
}

.game-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 700px;
  margin: 70px 100px;
}

.game-container {
  min-height: 700px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.game-container > div {
  width: 100%;
}

.answer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
}

#h1 {
  font-family: "Jost";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  color: #1b1b36;
}

#h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: #633ff2;
}

#text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: #1b1b36;
}

#input-button {
  width: 220px;
  height: 73px;
  font-family: "Jost";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}

#start-button {
  width: 300px;
  height: 73px;
  font-family: "Jost";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}

#return-button {
  width: 300px;
  height: 73px;
  font-family: "Jost";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  margin-top: 20px;
  transition: 0.2s;
}

.answer-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 30px;
  background: #f3e8f6;
  border: 4px solid #69078b;
  border-radius: 40px;
  width: 100%;
  height: 76px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.question-text {
  margin: 20px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.submit {
  border: none;
  border-radius: 12px;
  background: var(--cornflower);
  color: white;
  transition: color 0.2s;
}

.submit:hover {
  background: var(--white);
  color: var(--cornflower-solid);
  border: 4px solid var(--cornflower-solid);
}

.submit:active {
  background: var(--gray);
  color: var(--cornflower-solid);
  border: 4px solid var(--cornflower-solid);
}

.skip {
  border: none;
  border-radius: 12px;
  background: var(--red);
  color: white;
  transition: color 0.2s;
}

.skip:hover {
  background: var(--white);
  color: var(--red);
  border: 4px solid var(--red);
}

.skip:active {
  background: var(--gray);
  color: var(--red);
  border: 4px solid var(--red);
}

.progress-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.answer-container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progress-dot {
  width: 32px;
  height: 32px;
  border-radius: 40px;
  background-color: var(--red);
}

.gameFinishText {
  text-align: center;
  margin-bottom: 10px;
}

.gameFinishInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;

  border: 10px solid;
  border-color: #633ff2;
  border-radius: 20px;
  padding: 20px;
}

.finishHeader {
  margin-bottom: 20px;
}
