.box {
  background: #ffffff;
  min-height: 85px;
  max-width: 472;
  border: 2px solid #b663b2;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  padding: 0;

  color: #000000;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
